.name{
    background-color: #E4F9F5;
    margin: 0px;
    padding: 100px;
}
.mountain{
    background-size: cover;
}
h1{
    margin-top: 0px;
}
body{
    margin: 0;
    text-align: center;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}